<%
	include header
%>
<section class="middle-container">
	<div class="container">
		 <div class="row">
         	<div class="col-md-9">
         		<form method="post" name="myform" id="myform">
					  <div class="form-group">
					    <label for="catgory">Category:</label>
					    <input type="text" class="form-control" name="txtcategory" id="txtcategory">
					  </div>

					  <button type="button" class="btn btn-success" id="btnadd">Save Category</button>
					  <div id="err" class="text-danger"></div>
				</form>
        	</div>
    	</div>
	</div>
</section>

<%
	include footer
%>

