<footer >
     <div class="container">
	   <div class="row ">		
  				<div class="col-md-12 pull-right">
                    <ul class="social-network social-circle ">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>				

				</div>
				<div class=" col-md-12 text-center ">

          Copyright &copy; 2019 reserved by KOC. 
       </div>

   </div>
  </div>
  </footer>
  
</body>
</html>

<script src="/public/js/jquery.min.js"></script>
 <script src="/public/js/bootstrap.min.js"></script>
 <script src="/public/js/main.js"></script>   
 <script type="text/javascript" src="/public/js/custom.js"></script>
